@model MillerTrucking.Models.SearchModel;
@{ViewBag.Title = "Miller Transfer";}

@using (Html.BeginForm("FindTrucks", "Home"))
{
<div>
    <div>
        <label>
            Length
        </label>
        @Html.TextBoxFor(m => m.Length)
    </div>
    <div>
        <label>
            Width
        </label>
        @Html.TextBoxFor(m => m.Width)
    </div>
    <div>
        <label>
            Height
        </label>
        @Html.TextBoxFor(m => m.Height)
    </div>
    <div>
        <label>
            Weight
        </label>
        @Html.TextBoxFor(m => m.Weight)
    </div>
    <div>
        <button type="submit">
            Search
        </button>
    </div>
</div>
<div>
    
</div>
}