@model MillerTrucking.Models.SearchModel;
@using (Html.BeginForm("FindTrucks"))
{
    <div>
        <label>
            Length
        </label>
        <textarea></textarea>
    </div>
    <div>
        <label>
            Width
        </label>
        <textarea></textarea>
    </div>
    <div>
        <label>
            Height
        </label>
        <textarea></textarea>
    </div>
    <div>
        <label>
            Weight
        </label>
        <textarea></textarea>
    </div>
    <div>
        <button type="submit" value="FindTrucks">
            Search
        </button>
    </div>
}