<div>
    <div>
        <label>
            Length
        </label>
        <textarea>

        </textarea>

    </div>
    <div>
        <label>
            Width
        </label>
        <textarea>

        </textarea>
    </div>
</div>